.header {
    height: 56px;
    width: 100%;
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  }
  
  .inner {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
